<!DOCTYPE HTML>
<html>

<head>
    <title>About Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="styles/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="assets\css\main.css" />
    <noscript><link rel="stylesheet" href="assets\css\noscript.css" /></noscript>
</head>

<body class="is-preload">
    <nav class="navbar navbar-default">
        <nav class="nav navbar-nav navbar-right navswitch">
            <div class="container">
                <a href="./index.html"><i class="fa fa-home"></i>Home</a>
                <a href="./About.html"><i class="fa fa-shield"></i>About</a>
                <a href="./Contact.html"><i class="fa fa-comment"></i>Book Now</a>
        </nav>
        </div>
    </nav>
    <div id="wrapper">
        <section id="banner" class="major">
            <div class="inner" ng-app="AboutSite">
                <header class="major">
                    <h1>ABOUT</h1>
                </header>
                <div class="content">
                    <p>This website will be useful in identifying a nearby mechanic shop so that it will be easy for the users to repair their vehices instantly.<br><br> The locations of the various mechanic shops in and around the current location will
                        be displayed on thegoogle map along with their contact details.You will be able to check that contact details in the google map according to your needs and contact them for immediate service.</p>
                    <p>This application has an advantage of giving 24x7 service.</p>
                    <p>This will be helpful for the users who are new to the city</p>

                </div>
            </div>
        </section>
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h1>
                        <center>Services Available</center>
                    </h1>
                </header>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one" class="tiles">
                <article>
                    <span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3>Battery Change</a>
                        </h3>
                        <p>We need to change the battery often and if we don't have a backup while travelling on the road contacting a nearby mechanic immediately will solve this.</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3>Engine Repairs</a>
                        </h3>
                        <p>Sometimes due to unexpected heavy rain, our engines could get repaired at the middle while riding our vehicles. So for replacing the engines immediately we could check the location of a mechanic who is near your current location
                            and contact them immediately.</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Oil & Break Checks</a></h3>
                        <p>Sometimes we might face oil leakages or oil needs during our travel and we may not have a backup. At that time this remote mechanic will help you to reach out a nearby mechanic shop.</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Tires Fix & Replacements</a></h3>
                        <p>If your tire is punctured at some location while you are travelling, you could check a nearby mechanic according to their availability and contact them for helping you. They will reach out to you in minutes for replacements and
                            tires fixing.</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Tow Truck</a></h3>
                        <p>A tow truck is a truck used to move disabled, improperly parked, impounded, or otherwise indisposed motor vehicles. If we have to carry our vehicles to the home, we could check for a mechanic shop were tow trucks are available.</p>
                    </header>
                </article>
                <article>
                    <span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
                    <header class="major">
                        <h3><a href="landing.html" class="link">Vehicle Maintenance</a></h3>
                        <p>To maintain your vehicle cleanly from your own place or home without reaching out to a mechanic shop. An instant step could be taken using this website to find and contact your nearby mechanic.</p>
                    </header>
                </article>
            </section>


            <!-- Contact -->
            <section id="contact">
                <div class="inner" ng-app="Feedback form">
                    <section>
                        <h4>Give us your feedback
                            <h4>
                                <form name="cf" ng-controller="cfController as cfCtrl" ng-submit="submitForm(cf.$valid)" novalidate>
                                    <div class="fields">
                                        <div class="field half">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" id="name" ng-model="name" required/>
                                        </div>
                                        <div class="field half">
                                            <label for="email">Email</label>
                                            <input type="text" name="email" id="email" ng-model="Email" required />
                                        </div>
                                        <div class="field">
                                            <label for="Feedback">Feedback</label>
                                            <textarea name="Feedback" id="Feedback" rows="5" ng-model="Feedback" required></textarea>
                                        </div>
                                    </div>
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" class="primary" ng-disabled="cf.$invalid" /></li>
                                        <li><input type="reset" value="Clear" /></li>
                                    </ul>
                                </form>
                    </section>
                    <section class="split">
                        <section>
                            <h1>Ways to contact us</h1>
                            <div class="contact-method">
                                <span class="icon solid alt fa-envelope"></span>
                                <h3>Email</h3>
                                <a href="#">avinash@student.tce.edu</a>
                                <a href="#">bkarthikeyan@student.tce.edu</a>
                                <a href="#">juhi@student.tce.edu</a><br>
                                <a href="#">shrutis@student.tce.edu</a>
                            </div>
                        </section>
                        <section>
                            <div class="contact-method">
                                <span class="icon solid alt fa-phone"></span>
                                <h3>Phone</h3>
                                <span>8610505460</span>
                            </div>
                        </section>
                    </section>
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="icons">
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    </ul>

                </div>

        </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>